/* to do : will check and update into tailwind.css */
.welcome {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcomeTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #333;
}

.welcomeText {
	font-size: 18px;
	color: #555;
	margin-top: 10px;
}

.dashboardLink {
	font-size: 18px;
	margin-top: 20px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #0070f3;
	color: #ffffff;
	text-decoration: none;
	border-radius: 4px;
}

.dashboardLink:hover {
	background-color: #0056b3;
}

.prDashboard {
	margin-top: 30px;
	text-align: left;
}

.infoTitle {
	font-size: 20px;
	color: #333;
}

.infoText {
	font-size: 16px;
	margin-bottom: 20px;
	color: #555;
}
